[submodule "site/themes/void"]
	path = site/themes/void
	url = https://github.com/Daucloud/hugo-theme-void
[submodule "site/themes/hugo-discaptive"]
	path = site/themes/hugo-discaptive
	url = https://github.com/discaptive/hugo-discaptive.git
