# [submodule "site/themes/hugo-blog-awesome"]
# 	path = themes/hugo-blog-awesome
#   branch = main
# 	url = github_me:hugo-sid/hugo-blog-awesome.git


# https://themes.gohugo.io/themes/adritian-free-hugo-theme/
